/*reinit browser*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    overflow-x: hidden;
}
#bloc_page{
    width: 100vw;
    min-height: 100vh;
    font-size: normal;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1%;
}
h1{
    font-size: 2rem;
    margin-bottom: 1em;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 1em;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
    color: rgb(0, 128, 58);
}
h4 label{
    position: relative;
    bottom: 10px;
}
li{
    list-style-type: none;
    margin: 1em;
}
br{
    color: rgb(224, 240, 253);
}
.principal{
    width: 70%;
    margin: auto;
    display: flex;
    gap: 1em;
}
.section1{
    width: 40%;
    border: 1px solid snow;
    display: grid;
    box-shadow: 3px 3px 3px rgb(185, 184, 184);
    grid-template-columns: 1fr;
    background-color: white;
}
.tof{
    height: 100px;
    background-image: url(b.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100px;
}
.tof h1{
    position: absolute;
    top: 60px;
}
/*.section1 > *{
    border: 1px solid red;
}*/
.section2{
    width: 60%;
}
.section2 > *{
    border: 1px solid snow;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(185, 184, 184);
    padding: 5%;
    line-height: 150%;
}
.adresse ul{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5% 0 0 5%;
}
.P1{
    position: relative;
    bottom: 15%;
}
.skils{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5% 0 0 5%;
}
.skils .progress{
    width: 80%;
    height: 20px;
    background-color: rgb(224, 240, 253);
    border-radius: 5px;
    color: white;
}
.progress .progress_bar1{
    width: 90%;
    background-color: rgb(0, 128, 58);
    height: 100%;
    text-align: center;
    border-radius: 5px;
}
.progress .progress_bar2{
    width: 80%;
    background-color: rgb(0, 128, 58);
    height: 100%;
    text-align: center;
    border-radius: 5px;
}
.progress .progress_bar3{
    width: 75%;
    background-color: rgb(0, 128, 58);
    height: 100%;
    text-align: center;
    border-radius: 5px;
}
.progress .progress_bar4{
    width: 50%;
    background-color: rgb(0, 128, 58);
    height: 100%;
    text-align: center;
    border-radius: 5px;
}
.lang{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5% 0 0 5%;
}
.lang .progress{
    width: 80%;
    height: 25px;
    background-color: rgb(224, 240, 253);
    border-radius: 5px;
}
.progress .progress_bar5{
    width: 100%;
    background-color: rgb(0, 128, 58);
    height: 100%;
    text-align: center;
    border-radius: 5px;
}
.progress .progress_bar6{
    width: 50%;
    background-color: rgb(0, 128, 58);
    height: 100%;
    text-align: center;
    border-radius: 5px;
}
.progress .progress_bar7{
    width: 25%;
    background-color: rgb(0, 128, 58);
    height: 100%;
    text-align: center;
    border-radius: 5px;
}
.bas{
    margin-top: 3%;
}
span{
    background-color: rgb(0, 128, 58);
    border-radius: 3px;
    padding: 2px;
    color: white;
}
footer{
    margin-top: 1%;
    background-color:rgb(0, 128, 58) ;
    text-align: center;
    color: white;
    padding: 1%;
    line-height: 150%;
}
.I1{
    position: relative;
    top: 10px;
}
